build
.vscode
.pyc
cmake-build-debug
/cmake-build-debug/
/.ccls-cache/
/.dir-locals.el
__pycache__
.ini
*.convex.*
/wheelhouse
imgui.ini
.mypy_cache
.DS_Store
/.idea
/log
hand_imitation/env/models/assets/inspire/meshes
demonstrations/
examples/relocate_temp.xml
examples/training_log